{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-4">
        <h1 class="center">Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
                <div class="form-group">
            <label for="username">{{ form.username.label }}</label>
                    {{ form.username(size=32, class_="form-control")}}
                </div>
            {% if form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.username.errors %}
                    <span >[{{ error }}]</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="password">{{form.password.label }}</label>
                {{ form.password(size=32, class_="form-control") }}
            </div>
            {% if form.password.errors %}
            <div class="alert alert-danger">
                {% for error in form.password.errors %}
                    <span >[{{ error }}]</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="form-group form-check">
                {{ form.remember_me(class_="form-check-input") }} {{ form.remember_me.label }}
             </div>
            {{ form.submit(class_="btn btn-primary w-100") }}
        </form>

        <div class="blockquote text-center px-1">New User?
            <a href="{{ url_for('register') }}">Click to Register!</a></div>



    </div>
</div>
{% endblock %}
